
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employees</h2>

@using (Html.BeginForm("ActualizarAsignatura", "Administracion", FormMethod.Post, new { Id = "FormGetEmployees" }))
{
    <div class="row">
        <div class="form-group col-md-12 text-left">
            <div class=" col-md-offset-4 col-md-3">
                <input type="number" class="form-control" id="EmployeeId" placeholder="Employee id">
            </div>
            <div class="col-md-1">
                <button id="BtnGetEmployees" class="btn btn-success btn-sm" type="button">Get Employees</button>
            </div>
        </div>
    </div>

    <br />
    <div class="row">
        <div id="Employees"/>
    </div>
}

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/employee.js")"></script>
}